<header>
  <img class="logoSpacex" src="https://th.bing.com/th/id/R.f9340d52b1334a7df80e3e194bd49630?rik=DFyUJswJxE%2fLgw&riu=http%3a%2f%2fwww.ninfinger.org%2fmodels%2fvault2010%2fRussian+and+other+Logos%2f2000px-SpaceX_logo.svg.png&ehk=5vqO%2bNhosn%2fCZwGBXCenhIYyAcCRjyApwVHPlgV7aiw%3d&risl=&pid=ImgRaw&r=0" alt="">
  <div>
    <nav>
      <ul class="menu">
        <li>Launchs</li>
        <li>Next Launchs</li>
        <li>All Rockets</li>
      </ul>
    </nav>
    <button class="btnMenu" (click)="show()"><img src="https://cdn-icons-png.flaticon.com/512/55/55003.png" alt="" class="imgMenu"></button>
  </div>
</header>

<body>
  <div class="allDiv">
    <div class="card">
      <div>
        <h3>{{ rockets[0].rocket_name }}</h3>
        <img class="imgCard" src="{{ rockets[0].flickr_images[0] }}" alt="">
      </div>
    </div>
    <div class="card">
      <h3>{{ rockets[1].rocket_name }}</h3>
      <img class="imgCard" src="{{ rockets[1].flickr_images[0] }}" alt="">
    </div>
    <div class="card">
      <h3>{{ rockets[2].rocket_name }}</h3>
      <img class="imgCard" src="{{ rockets[2].flickr_images[0] }}" alt="">
    </div>
    <div class="card">
      <h3>{{ rockets[3].rocket_name }}</h3>
      <img class="imgCard" src="{{ rockets[3].flickr_images[0] }}" alt="">
    </div>
  </div>
</body>
